body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-outfit: Outfit;
  --bold-bold-18: "Plus Jakarta Sans";

  /* font sizes */
  --medium-medium-14-size: 14px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --bold-bold-18-size: 18px;

  /* Colors */
  --color-white: #fff;
  --color-darkslategray: #303334;
  --color-silver: #c2bebe;
  --color-gray-100: #868686;
  --color-gray-200: #1e1e1e;
  --color-gray-300: rgba(30, 30, 30, 0.1);

  /* Gaps */
  --gap-xl: 20px;
  --gap-5xs: 8px;
  --gap-base: 16px;
  --gap-xs: 12px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-12xs: 1px;
  --padding-mini: 15px;
  --padding-11xl: 30px;
  --padding-base: 16px;

  /* Border radiuses */
  --br-3xs: 10px;
}


.frame-child {
  height: 80px;
  width: 1440px;
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: none;
  mix-blend-mode: normal;
  max-width: 100%;
}
.frame-item,
.group-icon {
  height: 30.2px;
  width: 27.9px;
  position: relative;
  z-index: 1;
}
.group-icon {
  height: 26.2px;
  width: 84.4px;
}
.frame-parent {
  height: 30.3px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 9.69999999999709px;
}
.log-out {
  position: relative;
  display: inline-block;
  min-width: 72px;
  white-space: nowrap;
  cursor: pointer;
  z-index: 1;
}
.log-out-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5.300000000000011px 0 0;
}
.rectangle-parent {
  align-self: stretch;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 32.69999999999999px var(--padding-xl) 17px;
  box-sizing: border-box;
  gap: 688px;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: #000;
  font-family: var(--font-outfit);
}
.arrow-left-icon {
  height: 24px;
  width: 24px;
  position: relative;
}
.long-c-t-a-label {
  height: 40px;
  width: 40px;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 7px;
  cursor: pointer;
}
.profile1 {
  align-self: stretch;
  position: relative;
  line-height: 21px;
  font-weight: 500;
  display: inline-block;
  min-width: 50px;
}
.profile-wrapper {
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 9.5px 0 0;
  box-sizing: border-box;
}
.long-c-t-a-label-parent,
.profile-picture-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.long-c-t-a-label-parent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.profile-picture-inner {
  width: 301px;
  justify-content: flex-start;
  padding: 0 34px;
  box-sizing: border-box;
}
.michael-jordan,
.unit {
  position: relative;
  text-align: left;
}
.michael-jordan {
  margin: 0;
  font-size: 30px;
  line-height: 130%;
  font-weight: 700;
  font-family: inherit;
}
.unit {
  font-size: var(--font-size-base);
  line-height: 21px;
  font-weight: 600;
  font-family: var(--bold-bold-18);
  color: var(--color-gray-200);
  display: inline-block;
  min-width: 42px;
}
.frame-inner {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-300);
}
.michaeljordandaytonfintechco {
  width: 100%;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--bold-bold-18);
  font-size: var(--medium-medium-14-size);
  background-color: transparent;
  height: 22px;
  position: relative;
  line-height: 160%;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  white-space: nowrap;
  padding: 0;
  z-index: 1;
}
.edit-icon {
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 1;
}
.edit-wrapper {
  height: 21px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.field,
.rectangle-group {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.rectangle-group {
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-mini) var(--padding-11xl) var(--padding-mini)
    var(--padding-base);
  position: relative;
  gap: var(--gap-xl);
}
.field {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.unit1 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 21px;
  font-weight: 600;
  font-family: var(--bold-bold-18);
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  min-width: 46px;
}
.rectangle-div {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-300);
}
.edit-icon1,
.rnistudio99 {
  position: relative;
  z-index: 1;
}
.rnistudio99 {
  width: 100%;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--bold-bold-18);
  font-size: var(--medium-medium-14-size);
  background-color: transparent;
  height: 22px;
  line-height: 160%;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.edit-icon1 {
  width: 20px;
  height: 20px;
}
.edit-container {
  height: 21px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.field1,
.rectangle-container {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.rectangle-container {
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-mini) var(--padding-11xl) var(--padding-mini)
    var(--padding-base);
  position: relative;
  gap: var(--gap-xl);
}
.field1 {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.unit2 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 21px;
  font-weight: 600;
  font-family: var(--bold-bold-18);
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  min-width: 115px;
}
.frame-child1 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-300);
}
.edit-icon2,
.rnistudio991 {
  position: relative;
  z-index: 1;
}
.rnistudio991 {
  width: 100%;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--bold-bold-18);
  font-size: var(--medium-medium-14-size);
  background-color: transparent;
  height: 22px;
  line-height: 160%;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.edit-icon2 {
  width: 20px;
  height: 20px;
}
.edit-frame,
.field2,
.group-div {
  display: flex;
  align-items: flex-start;
}
.edit-frame {
  height: 21px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.field2,
.group-div {
  align-self: stretch;
}
.group-div {
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-mini) var(--padding-11xl) var(--padding-mini)
    var(--padding-base);
  position: relative;
  gap: var(--gap-xl);
}
.field2 {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.unit3 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 21px;
  font-weight: 600;
  font-family: var(--bold-bold-18);
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  min-width: 63px;
}
.frame-child2 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-300);
}
.indonesia {
  position: relative;
  font-size: var(--medium-medium-14-size);
  line-height: 160%;
  font-weight: 500;
  font-family: var(--bold-bold-18);
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  min-width: 66px;
  z-index: 1;
}
.arrow-down-icon {
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 1;
}
.arrow-down-wrapper {
  height: 21px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.field3,
.rectangle-parent1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.rectangle-parent1 {
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-mini) var(--padding-11xl) var(--padding-mini) 18px;
  position: relative;
  gap: var(--gap-xl);
}
.field3 {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.unit4 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 21px;
  font-weight: 600;
  font-family: var(--bold-bold-18);
  color: var(--color-gray-200);
  text-align: left;
}
.frame-child3 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-300);
}
.edit-icon3,
.rnistudio992 {
  position: relative;
  z-index: 1;
}
.rnistudio992 {
  width: 100%;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--bold-bold-18);
  font-size: var(--medium-medium-14-size);
  background-color: transparent;
  height: 22px;
  line-height: 160%;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.edit-icon3 {
  width: 20px;
  height: 20px;
}
.frame-div {
  height: 21px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.field4,
.rectangle-parent2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.rectangle-parent2 {
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-mini) var(--padding-11xl) var(--padding-mini)
    var(--padding-base);
  position: relative;
  gap: var(--gap-xl);
}
.field4 {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.unit5 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 21px;
  font-weight: 600;
  font-family: var(--bold-bold-18);
  color: var(--color-gray-200);
  text-align: left;
}
.frame-child4 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-300);
}
.edit-icon4,
.input {
  position: relative;
  z-index: 1;
}
.input {
/*  width: 56px;*/
  width: 100%;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--bold-bold-18);
  font-size: var(--medium-medium-14-size);
  background-color: transparent;
  height: 22px;
  line-height: 160%;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.edit-icon4 {
  width: 20px;
  height: 20px;
}
.edit-wrapper1,
.rectangle-parent3 {
  display: flex;
  align-items: flex-start;
}
.edit-wrapper1 {
  height: 21px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.rectangle-parent3 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-mini) var(--padding-11xl) var(--padding-mini)
    var(--padding-base);
  position: relative;
  gap: var(--gap-xl);
}
.field-field-field-field-field,
.field5 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.field-field-field-field-field {
  gap: var(--gap-base);
}
.save {
  width: 59px;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 21px;
  display: inline-block;
  font-family: var(--bold-bold-18);
  color: var(--color-white);
  text-align: center;
  min-width: 59px;
}
.long-cta,
.save-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.save-wrapper {
  flex: 1;
  border-radius: 32px;
  background-color: #2691b5;
  justify-content: center;
  padding: 16.5px var(--padding-xl);
  box-sizing: border-box;
}
.long-cta {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 327px;
  justify-content: flex-start;
}
.support {
  position: relative;
  font-size: var(--bold-bold-18-size);
  line-height: 130%;
  display: inline-block;
  font-family: var(--bold-bold-18);
  color: var(--color-white);
  text-align: left;
  min-width: 73px;
}
.support-help-questionheadph {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.help-center {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 21px;
  font-weight: 500;
  font-family: var(--bold-bold-18);
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  min-width: 92px;
}
.contact-us-label {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.phonesphone-call-icon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.contact-us {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 21px;
  font-weight: 500;
  font-family: var(--bold-bold-18);
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  min-width: 86px;
}
.contact-us-label1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.contact-us-label-parent,
.support-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.contact-us-label-parent {
  flex: 1;
}
.support-parent {
  height: 103px;
}
.field-field-field-field-field-parent {
  margin: 0;
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
}
.field-field-field-field-field-parent,
.profile-picture,
.profile-picture-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.profile-picture {
  width: 500px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 29px;
}
.profile-picture-wrapper {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 135px;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
  font-family: var(--bold-bold-18);
}
.frame-child5 {
  height: 164px;
  width: 1440px;
  position: relative;
  background-color: var(--color-darkslategray);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: none;
  max-width: 100%;
}
.help {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 42px;
  z-index: 1;
}
.faq,
.help-center1 {
  margin-block-start: 0;
  margin-block-end: 5px;
}
.maintenance-fee {
  margin: 0;
}
.faq-help-center-container {
  position: relative;
  font-size: var(--medium-medium-14-size);
  color: var(--color-silver);
  z-index: 1;
}
.help-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.disclaimer {
  color: #e9e6e6;
}
.consider-your-investment,
.dayton-does-not,
.disclaimer,
.trading-forex-carries {
  margin-block-start: 0;
  margin-block-end: 5px;
}
.all-decisions-with {
  margin: 0;
}
.disclaimer-trading-forex-container {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.disclaimer-trading-forex-carri-wrapper,
.frame-footer {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.disclaimer-trading-forex-carri-wrapper {
  width: 432px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  text-align: right;
  font-size: 10px;
  color: var(--color-silver);
}
.frame-footer {
  align-self: stretch;
  background-color: var(--color-darkslategray);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 185px 43px 284px;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: #fffbfb;
  font-family: var(--font-outfit);
}
.profile-child {
  width: 24px;
  height: 24px;
  display: none;
}
.profile {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 62px;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .profile-picture-wrapper {
    padding-bottom: 88px;
    box-sizing: border-box;
  }
  .frame-footer {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1000px) {
  .rectangle-parent {
    gap: 688px 344px;
  }
  .michael-jordan {
    font-size: 24px;
    line-height: 31px;
  }
}
@media screen and (max-width: 725px) {
  .profile-picture-wrapper {
    padding-bottom: 57px;
    box-sizing: border-box;
  }
  .frame-footer {
    padding-left: 142px;
    padding-right: 92px;
    box-sizing: border-box;
  }
  .profile {
    gap: 31px 62px;
  }
}
@media screen and (max-width: 450px) {
  .rectangle-parent {
    gap: 688px 172px;
  }
  .michael-jordan {
    font-size: var(--bold-bold-18-size);
    line-height: 23px;
  }
  .help {
    font-size: var(--font-size-base);
  }
  .frame-footer {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .profile {
    gap: 15px 62px;
  }
}
