:root {
  /* fonts */
  --font-outfit: Outfit;
  --semibold-semibold-14: "Plus Jakarta Sans";

  /* font sizes */
  --semibold-semibold-14-size: 14px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-13xl: 32px;
  --font-size-lgi: 19px;
  --font-size-7xl: 26px;
  --medium-medium-12-size: 12px;

  /* Colors */
  --color-white: #fff;
  --color-darkslategray: #303334;
  --color-silver: #c2bebe;
  --color-dimgray: rgba(116, 110, 110, 0.1);
  --color-darkgray: #9b9494;
  --color-gray-100: #868686;
  --color-gray-200: #1e1e1e;

  /* Gaps */
  --gap-xl: 20px;
  --gap-base: 16px;
  --gap-9xs: 4px;
  --gap-xs: 12px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-base: 16px;
  --padding-mini: 15px;
  --padding-6xs: 7px;
  --padding-290xl: 309px;
  --padding-135xl: 154px;

  /* Border radiuses */
  --br-3xs: 10px;
}


.frame-child {
  height: 80px;
  width: 1440px;
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: none;
  mix-blend-mode: normal;
  max-width: 100%;
}
.frame-item,
.group-icon {
  height: 30.2px;
  width: 27.9px;
  position: relative;
  z-index: 1;
}
.group-icon {
  height: 26.2px;
  width: 84.4px;
}
.frame-group {
  height: 30.3px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 9.69999999999709px;
}
.log-out {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 72px;
  white-space: nowrap;
  cursor: pointer;
  z-index: 1;
}
.log-out-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5.300000000000011px 0 0;
}
.rectangle-parent {
  align-self: stretch;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 32.69999999999999px var(--padding-xl) 17px;
  box-sizing: border-box;
  gap: 688px;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: #000;
  font-family: var(--font-outfit);
}
.arrow-left-icon {
  height: 24px;
  width: 24px;
  position: relative;
}
.arrow-left-wrapper {
  height: 40px;
  width: 40px;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px var(--padding-6xs);
  cursor: pointer;
}
.withdraw-history {
  align-self: stretch;
  position: relative;
  line-height: 21px;
  font-weight: 500;
}
.withdraw-history-label {
  width: 132px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 9px 0 0;
  box-sizing: border-box;
}
.frame-parent1,
.frame-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frame-parent1 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper1 {
  width: 400px;
  justify-content: flex-start;
  padding: 0 46px;
  box-sizing: border-box;
  max-width: 100%;
}
.withdraw {
  position: relative;
  line-height: 160%;
  font-weight: 600;
  display: inline-block;
  min-width: 66px;
}
.withdraw-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.paid {
  width: 26px;
  position: relative;
  font-size: var(--medium-medium-12-size);
  line-height: 160%;
  font-weight: 500;
  color: #098e0f;
  text-align: right;
  display: inline-block;
  min-width: 26px;
}
.withdraw-button-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 445px 0 0;
  gap: var(--gap-xs);
}
.amount {
  position: relative;
  line-height: 160%;
  font-weight: 600;
  display: inline-block;
  min-width: 54px;
}
.idr {
  font-weight: 500;
}
.b {
  color: var(--color-gray-200);
}
.idr-4000000 {
  position: relative;
  font-size: var(--font-size-13xl);
  color: var(--color-gray-100);
}
.amount-parent,
.frame-parent3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.amount-parent {
  justify-content: center;
  padding: 0 var(--padding-290xl) 0 0;
  gap: var(--gap-9xs);
}
.frame-parent3 {
  justify-content: flex-start;
  gap: var(--gap-base);
}
.mar-2023 {
  position: relative;
  line-height: 160%;
  font-weight: 600;
  display: inline-block;
  min-width: 82px;
}
.help-button,
.mar-2023-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mar-2023-wrapper {
  background-color: var(--color-white);
  justify-content: flex-start;
  white-space: nowrap;
}
.help-button {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-6xs);
  color: var(--color-darkgray);
}
.frame-parent2 {
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-dimgray);
  padding: var(--padding-base) var(--padding-mini);
  gap: var(--gap-base);
}
.frame-div,
.frame-parent2,
.frame-wrapper2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper2 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  text-align: left;
  font-size: var(--semibold-semibold-14-size);
}
.frame-div {
  gap: 17px;
  max-width: 100%;
}
.withdraw1 {
  position: relative;
  line-height: 160%;
  font-weight: 600;
  display: inline-block;
  min-width: 66px;
}
.withdraw-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.unpaid {
  width: 65px;
  position: relative;
  font-size: var(--medium-medium-12-size);
  line-height: 160%;
  font-weight: 500;
  color: #ff1100;
  text-align: right;
  display: inline-block;
  min-width: 65px;
}
.processing {
  width: 65px;
  position: relative;
  font-size: var(--medium-medium-12-size);
  line-height: 160%;
  font-weight: 500;
  color: #dbd207;
  text-align: right;
  display: inline-block;
  min-width: 65px;
}
.frame-parent7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 406px 0 0;
  gap: var(--gap-xs);
}
.amount1 {
  position: relative;
  line-height: 160%;
  font-weight: 600;
  display: inline-block;
  min-width: 54px;
}
.idr1 {
  font-weight: 500;
}
.b1 {
  color: var(--color-gray-200);
}
.idr-40000001 {
  position: relative;
  font-size: var(--font-size-13xl);
  color: var(--color-gray-100);
}
.amount-group,
.frame-parent6 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.amount-group {
  justify-content: center;
  padding: 0 var(--padding-290xl) 0 0;
  gap: var(--gap-9xs);
}
.frame-parent6 {
  justify-content: flex-start;
  gap: var(--gap-base);
}
.mar-20231 {
  position: relative;
  line-height: 160%;
  font-weight: 600;
  display: inline-block;
  min-width: 82px;
}
.frame-wrapper3,
.mar-2023-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mar-2023-container {
  background-color: var(--color-white);
  justify-content: flex-start;
  white-space: nowrap;
}
.frame-wrapper3 {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-6xs);
  color: var(--color-darkgray);
}
.frame-parent5 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-dimgray);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-mini);
  gap: var(--gap-base);
}
.withdraw2 {
  position: relative;
  line-height: 160%;
  font-weight: 600;
  display: inline-block;
  min-width: 66px;
}
.withdraw-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.failed {
  width: 35px;
  position: relative;
  font-size: var(--medium-medium-12-size);
  line-height: 160%;
  font-weight: 500;
  color: #fa0e0e;
  text-align: right;
  display: inline-block;
  min-width: 35px;
}
.frame-parent10 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 436px 0 0;
  gap: var(--gap-xs);
}
.amount2 {
  position: relative;
  line-height: 160%;
  font-weight: 600;
  display: inline-block;
  min-width: 54px;
}
.idr2 {
  font-weight: 500;
}
.b2 {
  color: var(--color-gray-200);
}
.idr-40000002 {
  position: relative;
  font-size: var(--font-size-13xl);
  color: var(--color-gray-100);
}
.amount-container,
.frame-parent9 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.amount-container {
  justify-content: center;
  padding: 0 var(--padding-290xl) 0 0;
  gap: var(--gap-9xs);
}
.frame-parent9 {
  justify-content: flex-start;
  gap: var(--gap-base);
}
.mar-20232 {
  position: relative;
  line-height: 160%;
  font-weight: 600;
  display: inline-block;
  min-width: 82px;
}
.frame-wrapper5,
.mar-2023-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mar-2023-frame {
  background-color: var(--color-white);
  justify-content: flex-start;
  white-space: nowrap;
}
.frame-wrapper5 {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-6xs);
  color: var(--color-darkgray);
}
.frame-parent8 {
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-dimgray);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-mini);
  gap: var(--gap-base);
}
.frame-parent8,
.frame-wrapper4 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.frame-container,
.frame-parent4,
.frame-wrapper4 {
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent4 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: flex-start;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--semibold-semibold-14-size);
}
.frame-container {
  width: 581px;
  gap: 27px;
}
.frame-container,
.frame-parent,
.frame-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-wrapper {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.frame-parent {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: 81px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
  font-family: var(--semibold-semibold-14);
}
.frame-inner {
  height: 164px;
  width: 1440px;
  position: relative;
  background-color: var(--color-darkslategray);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: none;
  max-width: 100%;
}
.help {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 42px;
  z-index: 1;
}
.faq,
.help-center {
  margin-block-start: 0;
  margin-block-end: 5px;
}
.maintenance-fee {
  margin: 0;
}
.faq-help-center-container {
  position: relative;
  font-size: var(--semibold-semibold-14-size);
  color: var(--color-silver);
  z-index: 1;
}
.help-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.disclaimer {
  color: #e9e6e6;
}
.consider-your-investment,
.dayton-does-not,
.disclaimer,
.trading-forex-carries {
  margin-block-start: 0;
  margin-block-end: 5px;
}
.all-decisions-with {
  margin: 0;
}
.disclaimer-trading-forex-container {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.disclaimerbox,
.rectangle-group {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.disclaimerbox {
  width: 432px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1px 0 0;
  text-align: right;
  font-size: 10px;
  color: var(--color-silver);
}
.rectangle-group {
  align-self: stretch;
  background-color: var(--color-darkslategray);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 185px 43px 284px;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: #fffbfb;
  font-family: var(--font-outfit);
}
.dashboard-withdraw-history {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
/*  gap: 488px;*/
  gap: 100px;
  letter-spacing: normal;
}
@media screen and (max-width: 1025px) {
  .rectangle-group {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 975px) {
  .rectangle-parent {
    gap: 688px 344px;
  }
  .idr-4000000,
  .idr-40000001,
  .idr-40000002 {
    font-size: var(--font-size-7xl);
  }
}
@media screen and (max-width: 725px) {
  .withdraw-button-parent {
    padding-right: 222px;
    box-sizing: border-box;
  }
  .amount-parent {
    padding-right: var(--padding-135xl);
    box-sizing: border-box;
  }
  .frame-parent7 {
    flex-wrap: wrap;
    padding-right: 203px;
    box-sizing: border-box;
  }
  .amount-group {
    padding-right: var(--padding-135xl);
    box-sizing: border-box;
  }
  .frame-parent10 {
    flex-wrap: wrap;
    padding-right: 218px;
    box-sizing: border-box;
  }
  .amount-container {
    padding-right: var(--padding-135xl);
    box-sizing: border-box;
  }
  .frame-parent {
    gap: 40px 81px;
  }
  .rectangle-group {
    padding-left: 142px;
    padding-right: 92px;
    box-sizing: border-box;
  }
  .dashboard-withdraw-history {
    gap: 244px 488px;
  }
}
@media screen and (max-width: 450px) {
  .rectangle-parent {
    gap: 688px 172px;
  }
  .frame-parent1 {
    flex-wrap: wrap;
  }
  .frame-wrapper1 {
    padding-left: var(--padding-xl);
  }
  .frame-wrapper1,
  .withdraw-button-parent {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .idr-4000000 {
    font-size: var(--font-size-lgi);
  }
  .amount-parent,
  .frame-parent7 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .idr-40000001 {
    font-size: var(--font-size-lgi);
  }
  .amount-group,
  .frame-parent10 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .idr-40000002 {
    font-size: var(--font-size-lgi);
  }
  .amount-container {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent {
    gap: 20px 81px;
  }
  .help {
    font-size: var(--font-size-base);
  }
  .rectangle-group {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .dashboard-withdraw-history {
    gap: 122px 488px;
  }
}
